:root{
  --white: #FFFFFF; 
  --grey: #F4F4F4;
  --dark: #383838;
  --dark-blue: #005499;
  --light-blue: #0088ED;
  --hover-color: #D0EBFE;
}

* { 
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
}

#banner {
  padding-top: 5rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: url("../assets/img/bg-masthead.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.banner-content {
  text-align: center;
  margin: 0 25% 0 25%;
}

.banner-content h1 {
  font-size: 60px;
  font-weight: 600;
  color: var(--white);
  padding-top: 40px;
}

.banner-content a {
  text-decoration: none;
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
  background: var(--white);
  width: 40%; 
  padding: 20px;
  display: inline-block;
  margin-top: 40px;
  box-sizing: border-box;
  transition: background-color 400ms;
}

.banner-content a:hover {
  background-color: var(--hover-color);
}

#categories {
  margin: 50px 100px 100px 100px;
}

.title h2 {
  font-size: 60px;
  font-weight: 600;
  color: var(--dark);
}

.title p {
  font-size: 18px;
  font-weight: 600;
  color: var(--dark);
}

.categories-content h2 {
  font-size: 60px;
  font-weight: 600;
  color: var(--white);
  padding-left: 25px;
}

.categories-content p {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  padding-left: 25px;
}

.categories1-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  height: 400px;
}

.categories1-2 .item:nth-child(1) {
  background: url(../assets/img/image01_nature.png);
  flex-grow: 1;
}

.categories1-2 .item:nth-child(2) {
  background: url(../assets/img/image02_daily.png);
  flex-grow: 2;
  margin-left: 30px;
}

.categorie3 {
  display: flex;
  margin: 30px 0 30px 0;
  height: 400px;
}

.categorie3 .item h2 {
  padding-top: 140px;
}

.categorie3 .item {
  background: url(../assets/img/image03_together.png);
  width: 100%;
  height: 400px;
  align-items: center;
}


.categories4-5 {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.categories4-5 .item:nth-child(1) {
  background: url(../assets/img/image04_analysis.png);
  flex-grow: 2;
  margin-right: 30px;
  text-align: end;
  padding-right: 25px;
}

.categories4-5 .item:nth-child(2) {
  background: url(../assets/img/image05_pictures.png);
  flex-grow: 1;
}

#growth-plans {
  background-color: var(--grey);
  width: 100%;
  height: 840px;
}

#growth-plans .title h2 {
  padding: 100px 0 0 100px;
}

#growth-plans .title p {
  padding-left: 100px;
}

.plans {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 50px 100px 100px 100px;
}

.title2 {
  background-color: var(--dark-blue);
  width: 165px;
}

.title2 h3 {
  color: var(--white);
  font-size: 32px;
  font-weight: 600;
  padding: 15px 0 0 15px;
}

.title2 p {
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 15px 15px;
}

.description {
  width: 165px;
  display: flex;
}

.description p {
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  padding-left: 15px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
} 

.plan1 .description {
  height: 103px;
}

.plan2 .description {
  height: 154px;
}

.plan3 .description {
  height: 205px;
}

.plan4 .description {
  height: 256px;
}

.plan5 .description {
  height: 307px;
}

.plan6 .description {
  height: 358px;
}